
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reports</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="~/Images/newlogo-removebg-preview2.png" /></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 5em;">
            <ul class="navbar-nav mr-auto" style="justify-content:space-around; width: 40vw; ">
                <li class="nav-item">
                    <a class="nav-link effect-underline" href="@Url.Action("Reports", "Admin")">Reports <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link effect-underline" href="@Url.Action("Database", "Admin")">Database</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link effect-underline" href="@Url.Action("tutorApplications", "Admin")">Tutor Applications</a>
                </li>
            </ul>
            <div style="width:10%" />
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="text-decoration:none;">
                    <a class="nav-link effect-underline" href="@Url.Action("Index", "Home")"><b>Sign Out</b></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="reportSection" style="padding: 5em;">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Evaluation Report</h5>
                        <p class="card-text">View the Evaluations assigned to Users</p>
                        <a href="@Url.Action("EvaluationReport", "Reports")" class="btn btn-primary">View Report</a>
                        <a class="btn btn-success" href="@Url.Action("ExportEvaluation", "Reports")">Export As PDF</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Monthly Report</h5>
                        <p class="card-text">View the Monthly Statistics</p>
                        <a href="@Url.Action("MonthlyReport", "Reports")" class="btn btn-primary">View Report</a>
                        <a class="btn btn-success" href="@Url.Action("ExportMonthly", "Reports")">Export As PDF</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Session Report</h5>
                        <p class="card-text">View Reports of all previous Tutor Sessions</p>
                        <a href="@Url.Action("SessionsReport", "Reports")" class="btn btn-primary">View Report</a>
                        <a class="btn btn-success" href="@Url.Action("ExportSessions", "Reports")">Export As PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="max-width: 100vw; ">
        <img src="~/Images/reportfoot.png" / style="width:100vw; height:45vh ">
    </div>
</body>
</html>
